.container {
  background-color: #1111115e;
  width: 100%;
  height: 100vh;
  position: absolute;
  display: grid;
  justify-content: center;
}

.form {
  align-self: center;
  display: flex;
  gap: 2rem;
  font-size: 2rem;
  padding: 5rem;
  background-color: aliceblue;
  border-radius: 2rem;
  margin: -60rem auto 0 auto;
}

.formEl {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  border: 1px solid #111;
}

.elContainer {
  display: flex;
  gap: 0.5rem;
}

.hidden {
  display: none;
}
